/* theme.css — generated */
.content_a2f514::before{
  content:"";
  display:block;
  width:256px;
  height:256px;
  margin:0 auto 160px;
  background-image:url("https://cdn.jsdelivr.net/gh/gifstorage/gifstorage1@main/random.gif?v=22110995556");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  image-rendering:pixelated;
}
